            <div class="item">
                <div>Avatar url:</div>
                <div>
                    <input type="url" 
                           name="avatar_url" 
                           id="" 
                           placeholder="http://"
                           value="{{student.avatar_url}}">
                </div>
            </div>
            <div class="item">
                <div>Nome:</div>
                <div>
                    <input type="text" 
                           name="name" 
                           id="" 
                           placeholder="Digite o seu nome"
                           value="{{student.name}}">
                </div>
            </div>
            <div class="item">
                <div>Data de Nascimento:</div>
                <div>
                    <input type="date" 
                           name="birth" 
                           id=""
                           value="{{student.birth}}">
                </div>
            </div>
            <div class="item">
                <div>Email:</div>
                <div>
                    <input type="email" 
                           name="email" 
                           id="" 
                           placeholder="Digite o seu email"
                           value="{{student.email}}">
                </div>
            </div>
            <div class="item">
                <div>Ano Escolar:</div>
                <div>
                    <select name="graduation" id="">
                        <option value="6F"
                                {% if student.graduation == '6F' %}
                                    selected
                               {% endif %}>6º Ano do fundamental</option>
                        <option value="7F"
                                {% if student.graduation == '7F' %}
                                    selected
                               {% endif %}>7º Ano do fundamental</option>
                        <option value="8F"
                                {% if student.graduation == '8F' %}
                                    selected
                               {% endif %}>8º Ano do fundamental</option>
                        <option value="9F"
                                {% if student.graduation == '9F' %}
                                    selected
                               {% endif %}>9º Ano do fundamental</option>
                        <option value="1M"
                                {% if student.graduation == '1M' %}
                                    selected
                               {% endif %}>1º Ano do médio</option>
                        <option value="2M"
                                {% if student.graduation == '2M' %}
                                    selected
                               {% endif %}>2º Ano do médio</option>
                        <option value="3F"
                                {% if student.graduation == '3M' %}
                                    selected
                               {% endif %}>3º Ano do médio</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div>Carga Horária:
                </div>
                <div>
                    <input type="number" 
                           name="ch" 
                           id="" 
                           placeholder="Quantidade de horas porsemana"
                           value="{{student.ch}}">
                </div>
            </div>

            <div class="item">
                <div>Professor:</div>
                <div>
                    <select name="teacher" id="">
                        {% for teacher in teacherOptions %}
                            <option value="{{teacher.id}}"
                                    {% if student.teacher_id == teacher.id %}
                                        selected
                                {% endif %}>{{teacher.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>