{% extends "layout.njk" %}
{% block title %}
    <title>Students</title>
{% endblock title %}
{% block content %}
    <div class="card table-container">
        <a href="/students/create">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Email</th>
                    <th>Ano escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}}"></span>
                            {{student.name}}
                        </td>
                        <td>
                            <span>{{student.email}}</span>
                        </td>
                        <td>
                            <span>
                                {% if student.graduation == '6F' %}
                                    6º Ano do fundamental
                                {% endif %}

                                {% if student.graduation == '7F' %}
                                    7º Ano do fundamental
                                {% endif %}

                                {% if student.graduation == '8F' %}
                                    8º Ano do fundamental
                                {% endif %}

                                {% if student.graduation == '9F' %}
                                    9º Ano do fundamental
                                {% endif %}

                                {% if student.graduation == '1M' %}
                                    1º Ano do Médio
                                {% endif %}

                                {% if student.graduation == '2M' %}
                                    2º Ano do Médio
                                {% endif %}

                                {% if student.graduation == '3M' %}
                                    3º Ano do Médio
                                {% endif %}  

                            </span>
                        </td>
                        <td><a href="/students/{{student.id}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
    