<script>
    const formDelete = document.getElementById('delete')
        formDelete.addEventListener('submit', function(event){
        const confirmation = confirm('Deseja deletar?')
        if(!confirmation){
            event.preventDefault()
        }
    })
</script>    
