{% extends "layout.njk" %}
{% block content %}
    <form class="card" action="/teachers" method="post" >
        <section class="img">
        </section>
        <section class="details">
            <h3>novo professor</h3>
            {% include "teachers/fields.njk" %}
            <button type="submit" class="button-edit">Cadastrar</button>    
        </section>
    </form>
{% endblock %}