{% extends "layout.njk" %}
{% block title %}
    <title>Teacher Form</title>
{% endblock %}
{% block content %}
    <form class="card" action="/teachers" method="post" >
        <section class="img">
            <img src="https://source.unsplash.com/collection/8874679/400x600" alt="">
        </section>
        <section class="details">
            <h3>novo professor</h3>
            {% include "teachers/fields.njk" %}
            <button type="submit">Cadastrar</button>           
        </section>
    </form>
{% endblock %}