{% extends "layout.njk" %}
{% block title %}
    <title>Teacher Form</title>
{% endblock %}
{% block content %}
    <form class="card" action="/teachers" method="post" >
        <section class="img">
            <img src="https://source.unsplash.com/collection/8874679/400x466" alt="">
        </section>
        <section class="details">
            <h3>Cadastrar</h3>
            <div class="item">
                <div>Avatar url:</div>
                <input type="url" name="avatar_url" id="" placeholder="http://">
            </div>
            <div class="item">
                <div>Nome:</div>
                <input type="text" name="name" id="" placeholder="Digite o seu nome">
            </div>
            <div class="item">
                <div>Data de Nascimento:</div>
                <input type="date" name="birth" id="">
            </div>
            <div class="item">
                <div>Grau de Especialidade:</div>
                <select name="specialty" id="">
                    <option value="medio">Ensino Médio Completo</option>
                    <option value="superior">Enino Superior Completo</option>
                    <option value="mestrado">Mestrado</option>
                    <option value="doutorado">Doutorado</option>
                </select>
            </div>
            <div class="item">
                <div>Tipo de aula:</div>
                <input type="radio" name="type" id="" value="presencial">Presencial
                <input type="radio" name="type" id="" value="distancia">À distancia
            </div>
            <div class="item">
                <div>Acompanhamento:</div>
                <input type="text" name="class" id="" placeholder="Separe por virgulas">
            </div> 
            <button type="submit">Cadastrar</button>           
        </section>
    </form>
{% endblock %}