            <div class="item">
                <div>Avatar url:</div>
                <div>
                    <input type="url" name="avatar_url" id="" placeholder="http://">
                </div>
            </div>
            <div class="item">
                <div>Nome:</div>
                <div>
                    <input type="text" name="name" id="" placeholder="Digite o seu nome">
                </div>
            </div>
            <div class="item">
                <div>Data de Nascimento:</div>
                <div>
                    <input type="date" name="birth" id="">
                </div>
            </div>
            <div class="item">
                <div>Grau de Especialidade:</div>
                <div>
                    <select name="specialty" id="">
                        <option value="medio">Ensino Médio Completo</option>
                        <option value="superior">Enino Superior Completo</option>
                        <option value="mestrado">Mestrado</option>
                        <option value="doutorado">Doutorado</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div>Tipo de aula:</div>
                <div>
                    <span><input type="radio" name="type" id="" value="presencial">Presencial</span>
                    <span><input type="radio" name="type" id="" value="distancia">À distancia</span>
                </div>
            </div>
            <div class="item">
                <div>Acompanhamento:</div>
                <div>
                    <input type="text" name="acom" id="" placeholder="Separe por virgulas">
                </div>
            </div> 