{% extends "layout.njk" %}
{% block title %}
    <title>Teachers</title>
{% endblock title %}
{% block content %}
    <div class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Teacher</th>
                    <th>Cursos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{teacher.name}}</td>
                        <td>{{teacher.acom}}</td>
                        <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
    