{% extends "layout.njk" %}
{% block title %}
    <title>Teachers</title>
{% endblock title %}
{% block content %}
    <div class="card">
        <section class="img">
            imagem
        </section>
        <section class="details">
            detalhes do card
        </section>
    </div>
{% endblock %}
    